<!doctype html>
<html>
<head>
  <title>Super Cool Todolist</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Arvo|Indie+Flower" rel="stylesheet">
</head>

<body>
  <h1>Welcome back to your Todolist!</h1>

  <form method="post" action="/new">
    <input type="text" name="new" class="new" placeholder="Enter a new todo here..."></input>
    <input type="submit" name="submit" value="Add todo">
  </form>

  <div class="incomplete-wrapper">
    <h3>Incomplete todos</h3>
    <form method="post" action="/sort">
      <label for="sort">Sort todos by:</label>
      <select name="sort" id="sort">
        <option value="ascending">Creation date: Ascending</option>
        <option value="descending">Creation date: Descending</option>
      </select>
      <input type="submit" value="Sort" class="sort-btn">
    </form>
    <ul>
      {{ #todos }}
        {{ ^completed }}
      <li>
        <p>{{ title }}</p>
        <form method="post" action="/completed/{{ id }}">
          <input type="submit" name="completed" value="Mark as complete">
        </form>
        <form method="post" action="/edit/{{ id }}">
          <input type="text" name="editbox" placeholder="Edit this todo...">
          <input type="submit" name="edit" value="Edit todo">
        </form>
        <form method="post" action="/delete/{{ id }}">
          <input type="submit" name="delete" value="Delete todo">
        </form>
      </li>
        {{ /completed }}
      {{ /todos }}
    </ul>
  </div>

  <div class="completed-wrapper">
    <h3>Completed todos</h3>
    <ul>
      {{ #todos }}
      {{ #completed }}
      <li class="completed">
        <p>{{ title }}</p>
      </li>
        {{ /completed }}
      {{ /todos }}
    </ul>

    <form method="post" action="/deleteall">
      <input type="submit" name="clear" value="Clear all completed todos">
    </form>
  </div>

</body>

</html>
